<div class="container pt-3">
  <div class="row align-items-center">
    <div class="col">
      <h2>Hello Olivia, Good Evening</h2>
      <p>Find and manage all control requests here</p>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary"><img aria-hidden="true" alt="control" src="assets/check.png" class="mr-2" />
        My Control Requests
      </button>
    </div>
  </div>
  <hr style="border: none; height: 2px; background-color: rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-top: 0%;">
</div>