.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item.active .nav-link {
  background-color: #f0f0f0;
  border-radius: 4px;
}

#logo{
  margin-left: 5%;
}
