<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="d-flex justify-content-center align-items-center rounded" style="width: 30px; height: 30px; background-color: #2B50E6;">
                      <img aria-hidden="true" alt="control" src="assets/plus-square.svg" alt="Image description">
                    </div>
                    <img aria-hidden="true" alt="control" src="assets/Dropdown.svg"/>
                  </div>
                  <p class="card-title mt-2">New Control request received</p>
                  <h2 class="card-text">41</h2>
              </div>
          </div>
      </div>
      
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="d-flex justify-content-center align-items-center rounded" style="width: 30px; height: 30px;background-color: #475467;">
                    <img aria-hidden="true" alt="control" src="assets/clock-rewind.svg" alt="Image description">
                  </div>
                  <img aria-hidden="true" alt="control" src="assets/Dropdown.svg"/>
                </div>
                <p class="card-title mt-2">Under review</p>
                <h2 class="card-text">12</h2>
              </div>
          </div>
      </div>
      
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="d-flex justify-content-center align-items-center rounded" style="width: 30px; height: 30px; background-color: #DC6803;">
                    <img aria-hidden="true" alt="control" src="assets/x-square.svg" alt="Image description">
                  </div>
                  <img aria-hidden="true" alt="control" src="assets/Dropdown.svg"/>
                </div>
                <p class="card-title mt-2">Rejected</p>
                <h2 class="card-text">3</h2>
              </div>
          </div>
      </div>
  </div>
</div>