<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-transparent py-3">
          Requests / Backlog
          <span class="badge bg-light border text-dark float-end">3</span>
        </div>
        <div class="card-body">
          <div class="mb-3 border rounded px-3 pt-3 shadow-sm bg-white">
            <h5>Access Authorization Control</h5>
            <p class="text-muted">22 Jan 2024</p>
            <div class="d-flex justify-content-between border-bottom-custom">
              <span class="badge border text-dark">Agile</span>
              <div>
                <span class="badge badge-custom badge-primary-outline me-1">New</span>
                <span class="badge badge-custom badge-high-outline">
                  <img aria-hidden="true" alt="high" src="assets/arrow-up.svg" />High</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn view-details-custom">View details</button>
            </div>
          </div>
          
          <div class="mb-3 border rounded px-3 pt-3 shadow-sm bg-white">
            <h5>Data Encryption Protocol</h5>
            <p class="text-muted">05 Dec 2023</p>
            <div class="d-flex justify-content-between border-bottom-custom">
              <span class="badge border text-dark">Cybersecurity</span>
              <div>
                <span class="badge badge-custom badge-primary-outline me-1">New</span>
                <span class="badge badge-custom badge-high-outline">
                  <img aria-hidden="true" alt="high" src="assets/arrow-up.svg" />High</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn view-details-custom">View details</button>
            </div>
          </div>
          <div class="mb-3 border rounded px-3 pt-3 shadow-sm bg-white">
            <h5>Data Encryption Protocol</h5>
            <p class="text-muted">05 Dec 2023</p>
            <div class="d-flex justify-content-between border-bottom-custom">
              <span class="badge border text-dark">Agile</span>
              <div>
                <span class="badge badge-custom badge-waiting-outline me-1">Modify</span>
                <span class="badge badge-custom badge-high-outline">
                  <img aria-hidden="true" alt="high" src="assets/arrow-up.svg" />High</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn view-details-custom">View details</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-transparent py-3">
          Under Review
          <span class="badge bg-light border text-dark float-end">1</span>
        </div>
        <div class="card-body">
          <div class="mb-3 border rounded px-3 py-3 shadow-sm bg-white">
            <h5>Access Authorization Control</h5>
            <p class="text-muted">22 Jan 2024</p>
            <div class="d-flex justify-content-between">
              <span class="badge border text-dark">Agile</span>
              <div>
                <span class="badge badge-custom badge-primary-outline me-1">New</span>
                <span class="badge badge-custom badge-high-outline">
                  <img aria-hidden="true" alt="high" src="assets/arrow-up.svg" />High</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-transparent py-3">
          Needs Refinement
          <span class="badge bg-light border text-dark float-end">2</span>
        </div>
        <div class="card-body">
          <div class="mb-3 border rounded px-3 pt-3 shadow-sm bg-white">
            <h5>Access Authorization Control</h5>
            <p class="text-muted">22 Jan 2024</p>
            <div class="d-lg-flex justify-content-between border-bottom-custom">
              <span class="badge border text-dark">Agile</span>
                <span class="badge badge-custom badge-awaiting-outline me-1">Awaiting resubmission</span>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn view-details-custom">View details</button>
            </div>
          </div>
            <div class="border rounded px-3 pt-3 shadow-sm bg-white">
              <h5>Access Authorization Control</h5>
              <p class="text-muted">22 Jan 2024</p>
              <div class="d-flex justify-content-between border-bottom-custom">
                <span class="badge border text-dark">Agile</span>
                <div>
                  <span class="badge badge-custom badge-primary-outline me-1">New</span>
                  <span class="badge badge-custom badge-high-outline">
                    <img aria-hidden="true" alt="high" src="assets/arrow-up.svg" />High</span>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn view-details-custom">View details</button>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
